.Item {
    margin:10px 0;
    width: 100%;
    display:block;
}

.Item a {
    display: block;
    height: 100%;
    color:#8f5c2c;
    text-decoration: none;
    box-sizing: border-box;
}

.Item a:hover,
.Item a:active,
.Item a.active {
    color:#40a4c8;
    transition: all .3s linear;
}

@media(min-width:500px) {
    .Item {
        margin:0;
        height: 100%;
        width: auto;
        display:flex;
        align-items: center;
    }
    
    .Item a {
        color:#fff;
        padding:16px 10px;
        border-bottom: 4px solid transparent;
    }
    
    .Item a:hover,
    .Item a:active,
    .Item a.active {
        background: #8f5c2c;
        border-bottom: 4px solid #40a4c8;
        transition: all .3s linear;
    }
}