.Posts {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 80%;
    margin: auto;
}

.Nav ul {
    margin:0;
    padding: 0;
    list-style: none;
    width:100%;
    text-align: center;
    background-color: black;
}
.Nav li {
    display: inline-block;
}
.Nav li a {
    display:block;
    color:#fff;
    text-decoration: none;
    padding:10px;
}
.Nav a:hover,
.Nav a.active  {
    color:red;
    transition: all .3s linear;
}

